.home-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #00f5e1;
    background-color: #1d2c4f;
    border: 1px solid #00f5e1;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
